[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pillow = "*"
pyarweave = "*"
python-magic = "*"

[dev-packages]
black = "*"
isort = "*"
twine = "*"
pylint = "*"
python-decouple = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
